# video
*.mp4
*.avi
*.mov

# binary
*.bin

# python
__pycache__/
*.pyc

*.png
src/frames_output.txt

*.c
*.exe

debug_frames

decode_debug

.venv
.vscode

build
dest_video
bin
test
src_video
dist
message
input

